<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Addstudent</title>
</head>
<body >
    <section >
        <label for="studentNumber">Student Number</label><br>
        <input type="text" id="studentNumber" >
        <br>
        <br>
        <label for="studentName">Student Name</label><br>
        <input type="text" id="studentName" >
        <br>
        <br>
        <label for="credits">Credits</label><br>
        <input type="text" id="credits" >
        <br>
        <br>
        <label for="degreeProgramme">Degree Programme</label><br>
        <input type="text" id="degreeProgramme" ><br><br>
        <button id="addButton" >Add</button>
        <p id="p"></p>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="static/addstudent.js"></script>

    </section>

</body>
</html>
