{% extends 'cabinbase.html' %}

{% block content %}

{% with messages = get_flashed_messages() %}
    {% if messages %}
    <div style="margin-left:10px;font-size:1.5rem;color:yellow;">
        {{ messages[0] }}
    </div>
    {% endif %}
{% endwith %}

   <h1>Poista varaus</h1>

    {% for user in users %}
    <form   method="post"  action="/login">
        <p>{{user['reserved']}}
            <input name="user_email" type="hidden" value="{{user['user_email']}}">{{user['user_email']}}
                <input name="startdate" type="hidden" value="{{user['startdate']}}">{{user['startdate']}}
                    <input name="enddate" type="hidden" value="{{user['enddate']}}">{{user['enddate']}}
                        <input name="id_for_reserve" type="hidden" value="{{user['id_for_reserve']}}">
                            <input name="password" type="hidden" value="{{user['password']}}">
                                <button >Poista varaus<br>(vaatii kirjautumisen)</button>
                         </input>
                    </input>
                </input>
            </input>
        </p>
    </form>
    {% endfor %}

<form action="/home">
    <button>Palaa aloitussivulle</button>
</form>


{% endblock %}

