{% extends 'cabinbase.html' %}

{% block content %}
<form action="/reserve"  method="post">
    <h1>Kylmälä</h1>
        <input type="hidden" name="location" value="Kylmälä">
        <div >
            <img src="static/images/kylmala.jpg" >
        </div>
    <button>Varaa</button>
</form>

<div>
        <p>Kylmälän talvisissa maisemissa viihdyt joko yksin tai perheen kanssa. <br>
        Elämyksiä tarjoaa esimerkiksi metsätyöt joiden parissa ihminen voi kokea<br>
        voimaantumisen hetkiä. Metsätöistä maksetaan 3.344 euroa/kuutiometri.</p>
</div>
{% endblock %}