{% extends 'cabinbase.html' %}

{% block content %}
<form method="post" action="/postlogininfo">
<div>
    <h1>Kirjaudu, käytä tunnuksia joilla teit varauksen!</h1>
        <p style="font-size:18px;">email<input name="email" type="text" style="width:300px;font-size:18px;margin-left:37px;"></p>
        <p style="font-size:18px;">password<input name="password" type="text" style="width:300px;font-size:18px;"></p>
        <input name="deletinguser_email" type="hidden"  value="{{deletinguser_email}}">
        <input name="deletingid_for_reserve" type="hidden" value="{{deletingid_for_reserve}}">
        <input name="deletingpassword" type="hidden" value="{{deletingpassword}}">
        <button>Kirjaudu</button>
</div>
</form>

{% with messages = get_flashed_messages() %}
{% if messages %}
    <div class="notification is-danger">
        {{ messages[0] }}
    </div>
{% endif %}
{% endwith %}

{% endblock %}