{% extends 'cabinbase.html' %}

{% block content %}
<form action="/reserve"  method="post">
    <h1>Rauhala</h1>
        <input type="hidden" name="location" value="Rauhala">
        <div>
            <img src="static/images/rauhala.jpg" >
        </div>
     <button>Varaa</button>
</form>

    <div  >
        <p>Rauhala sijaitsee vähäliikenteisen kantatien varrella lähellä palveluita. Rauhala <br>
        on nimensä veroinen, viimeiset asukkaat ovat lähteneet kylästä nimittäin<br>
        jo 1950-luvulla. Ajanvietettä tarjotaa esimerkiksi kartanon kunnostustyöt.<br>
        Jos vaikka katon korjaisitte ensin.</p>
    </div>
{% endblock %}