{% extends 'cabinbase.html' %}

{% block content %}
<form method="get" action="/deletereservation">
    <h1>Tehdyt varaukset</h1>

    <button style="width:300px;">Poista varauksia</button>

 <table>
        <th>Paikka<th>Varaajan sposti<th>Alkupäivä<th>Loppupäivä
        {% for user in users %}
        <tr>
            <td>{{user['reserved']}}<td>{{user['user_email']}}<td>{{user['startdate']}}<td>{{user['enddate']}}</td></td></td></td>
        </tr>
     {% endfor %}
</th></th></th></th>
</table>

</form>
{% endblock %}