{% extends 'cabinbase.html' %}

{% block content %}
    <form action="/reserve"  method="post">
        <h1>Takasyrjä</h1>
            <input type="hidden" name="location" value="Takasyrjä">

            <div>
                <img src="static/images/takasyrja.jpg" >
            </div>

        <button>Varaa</button>
    </form>

    <div  >
        <p>Takasyrjä on rauhaa kaipaavan tyyssija, lähimpään asutukseen on nimittäin matkaa <br>
        50 kilometriä ja paikan päälle pääsee ainoastaan helikopterilla. Talvella kannattaa<br>
        pukeutua lämpimästi, keskilämpötila on nimittäin -16 astetta(tuvassa).</p>
    </div>
{% endblock %}