{% extends 'base.html' %}
{% block content %}
<form  action="/modified" id="modifyForm"  method="post">
    <h3>Modify the student</h3>
    <input name="modifyNumber" class="modify" type="hidden" width="200px" value="{{ student['student_number'] }}" ><br>
    <label class="modify" >Name  </label><input name="modifyName" class="modify" type="text" width="200px" value="{{ student['name'] }}" ><br>
    <label class="modify" >Degree  </label><input name="modifyDegree" class="modify" type="text" width="200px" value="{{ student['degree'] }}"  ><br>
    <label class="modify" >Credits  </label><input name="modifyCredits" class="modify" type="text" width="200px" value="{{ student['credits'] }}" ><br>
    <button class="modify" id="upDateButton" >Update></button>
</form>
{% endblock %}